<div class="col-xs-6 col-xs-offset-3">
    <h3 class="text-center">Registration</h3>
    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
        <div class="form-group input-group">
            <span class="input-group-addon">
              <i class="fa fa-user fa-fw"></i>
            </span>
            <input type="text" class="form-control" ngModel name="username" placeholder="Enter username..">
        </div>
        <div class="form-group input-group">
            <span class="input-group-addon">
              <i class="fa fa-envelope fa-fw"></i>
            </span>
            <input type="email" class="form-control" ngModel name="email" placeholder="Enter email..">
        </div>
        <div class="form-group input-group">
            <span class="input-group-addon">
              <i class="fa fa-key fa-fw"></i>
            </span>
            <input type="password" class="form-control" ngModel name="password" placeholder="Enter password..">
        </div>
        <button type="submit" name="btn-login" class="btn btn-default">Login</button>
    </form>
</div>
