<div class="col-xs-6 col-xs-offset-3">
    <h3 class="text-center">Authentication</h3>
    <form #loginForm="ngForm" method="post" (ngSubmit)="login(loginForm)">
        <div class="form-group input-group">
            <span class="input-group-addon">
          <i class="fa fa-user fa-fw"></i>
        </span>
            <input type="text" name="username" class="form-control" required="true" ngModel placeholder="Enter username..">
        </div>
        <div class="form-group input-group">
            <span class="input-group-addon">
        <i class="fa fa-key fa-fw"></i>
      </span>
            <input type="password" name="password" class="form-control" required="true" ngModel placeholder="Enter password..">
        </div>
        <button type="submit" class="btn btn-default">Login</button>
    </form>
</div>
