<div class="col-xs-8 col-xs-offset-2 shop-component">
    <div class="col-md-4 item" *ngFor="let product of products" (click)="select(product.id)">
        <div class="product">
            <h3 class="col-xs-12">{{product.name}}</h3>
            <div class="col-xs-8 col-xs-offset-2">
                <img class="img-responsive" [src]="product.image" alt="Product image - {{product.name}}" />
            </div>
        </div>
        <button type="button" class="btn btn-default btn-block">Add to cart</button>
    </div>
</div>
