.shop-component{
  .item {
    .product{
      border: 1px solid #eee;
      background: #fef;
      padding: 0 5px 15px 5px;
      text-align: center;
      display: inline-block;
      cursor: pointer;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .btn-block{
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin-top: -7px;
    }
    margin-bottom: 5px;
  }
}
